extends layout

include mixins/_errors

block content
  h1.h2 Delete Message

  hr
  h1.h3.mb-3.font-weight-normal Message

  dl.row
    dt.col.sm-3 Content
    if message.encryption == 'encrypted_custom_encryption_password'
      dd.col-sm-9
        a.text-muted(href='/messages/decrypt/' + message.encryptionPayload, target='_blank')
          | Decrypt Message Content
          | #{' '}
          i.fa.fa-external-link(arial-hidden)
    else
      dd.col-sm-9
        pre= message.content

  hr
  h1.h3.mb-3.font-weight-normal Destinations

  if message.hasEmailDestination
    h1.h5.mb-3.font-weight-normal Email

    dl.row
      dt.col.sm-3 Recipients
      dd.col-sm-9= message.emailRecipients
    dl.row
      dt.col.sm-3 Subject
      dd.col-sm-9= message.emailSubject
    dl.row
      dt.col.sm-3 Attachment
      dd.col-sm-9
        a.text-muted(href='/messages/' + message.id + '/attachment/download')= message.emailAttachmentName

  if message.hasSMSDestination
    h1.h5.mb-3.font-weight-normal SMS

    dl.row
      dt.col.sm-3 Service Provider
      dd.col-sm-9= message.smsServiceProvider
    dl.row
      dt.col.sm-3 Phone Numbers
      dd.col-sm-9= message.smsPhoneNumbers

  if message.hasTelegramDestination
    h1.h5.mb-3.font-weight-normal Telegram

    dl.row
      dt.col.sm-3 Message Format
      dd.col-sm-9= message.telegramParseMode
    dl.row
      dt.col.sm-3 Chat Ids
      dd.col-sm-9= message.telegramChatIds

  hr
  h1.h3.mb-3.font-weight-normal Check-in Configuration

  dl.row
    dt.col.sm-7 Send me a check-in notification if I am absent for more than...
    dd.col-sm-5 #{message.checkinFrequencyTime} #{message.checkinFrequencyTimeUnit}
  dl.row
    dt.col.sm-7 Deliver this message if I don't respond to my check-in notification after...
    dd.col-sm-5 #{message.checkinWaitingTime} #{message.checkinWaitingTimeUnit}

  hr

  form(action='/messages/' + message.id + '/delete?confirm=true')
    input(type='hidden', name='confirm', value='true')
    div.row
      div.col-md-3
        button.btn.btn-md.btn-block.btn-secondary(type='submit') Delete

  +showErrors(message.errors)
