extends layout

include mixins/_errors
include mixins/_documentation_link

block content

  h1.h2 New Message

  if userHasNoCheckinDestination
    hr
    div.alert.alert-warning
      b.warning Warning: 
      | Your account doesn't have any check-in destination configured. The system requires at least
      |  one to be able to send you check-in notifications, configure one by going to
      a.p-2.text-muted(href='/account#checkindestinations') your account

  form(method='post', enctype="multipart/form-data")
    hr
    h1.h3.mb-3.font-weight-normal Message

    div.form-group
      label(for='content') Content
      textarea.form-control(name='content', id='content', rows='3', required, autofocus)

    div.form-group
      a.text-muted.collapsed(data-toggle='collapse', href='#advanceEncryptionOptions')
        | Show Advanced Encryption Options
        | #{' '}
        i.fa(arial-hidden)

    div.collapse(id='advanceEncryptionOptions')
      div.form-group
        div
          label Message Content Encryption
          | #{' '}
          a.text-muted.collapsed(data-toggle='collapse', href='#encryptionInformation')
            | (Tell me more about these options
            | #{' '}
            i.fa(arial-hidden)
            | )
        div.form-check
          input.form-check-input(name='messageContentEncryption', id='unencrypted', type='radio', value="unencrypted" checked)
          label.form-check-label(for='unencrypted') Unencrypted
        div.form-check
          input.form-check-input(name='messageContentEncryption', id='encryptedSystemEncryptionPassword', type='radio', value="encrypted_system_encryption_password")
          label.form-check-label(for='encryptedSystemEncryptionPassword') Encrypt using system encryption password
        div.form-check
          input.form-check-input(name='messageContentEncryption', id='encryptedCustomEncryptionPassword', type='radio', value="encrypted_custom_encryption_password")
          label.form-check-label(for='encryptedCustomEncryptionPassword') Encrypt using custom encryption password
        div.collapse(id='encryptionInformation')
          include mixins/_encryption_options_info

    div.form-group(id='customEncryptionPasswordGroup', hidden)
      label(for='customEncryptionPassword') Custom Encryption Password
      input.form-control(name='customEncryptionPassword', id='customEncryptionPassword', placeholder='Custom encryption password', type='password')

    div.form-group(id='customEncryptionPasswordHintGroup', hidden)
      label(for='customEncryptionPasswordHint') Custom Encryption Password Hint
      input.form-control(name='customEncryptionPasswordHint', id='customEncryptionPasswordHint', placeholder='Hello Bob, the encryption password is the middle name of your oldest sibling')

    hr
    h1.h3.mb-3.font-weight-normal Destinations

    a.text-muted(data-toggle='collapse', href='#destinationEmail')
      h1.h5.mb-3.font-weight-normal Email
        | #{' '}
        i.fa(arial-hidden)

    div.collapse.show(id='destinationEmail')
      div.form-group
        label(for='emailRecipients') Recipients
        input.form-control(name='emailRecipients', id='emailRecipients', placeholder='email1@gmail.com, email2@yahoo.com')

      div.form-group
        label(for='emailSubject') Subject
        input.form-control(name='emailSubject', id='emailSubject', placeholder='Email Subject')

      div.form-group
        label(for='emailAttachment') Attachment (max 20MB)
        input.form-control-file(name='emailAttachment', id='emailAttachment', type='file')

    a.text-muted.collapsed(data-toggle='collapse', href='#destinationSMS')
      h1.h5.mb-3.font-weight-normal SMS
        | #{' '}
        i.fa(arial-hidden)

    div.collapse(id='destinationSMS')
      div.form-group
        label(for='smsServiceProvider') Service Provider
        select.form-control(name='smsServiceProvider', id='smsServiceProvider')
            option(selected, value="twilio") Twilio

      div.form-group
        label(for='smsPhoneNumbers') Phone Numbers
        input.form-control(name='smsPhoneNumbers', id='smsPhoneNumbers', placeholder='+12846663222, +575867841896')

    a.text-muted.collapsed(data-toggle='collapse', href='#destinationTelegram')
      h1.h5.mb-3.font-weight-normal Telegram
        | #{' '}
        i.fa(arial-hidden)

    div.collapse(id='destinationTelegram')
      div.form-group
        label(for='telegramParseMode') Message Format
        select.form-control(name='telegramParseMode', id='telegramParseMode', required)
            option(selected) Plain Text
            option HTML
            option MarkdownV2
            option Markdown
      div.form-group
        label(for='telegramChatIds') Chat Ids
        input.form-control(name='telegramChatIds', id='telegramChatIds', placeholder='1155263894, 8416319852')
        +showDocumentationLink('v0.1.4', '#telegram', "See how to get Telegram Chat Ids here")

    hr
    h1.h3.mb-3.font-weight-normal Check-in Configuration

    div.form-group
      label(for='checkinFrequencyTime') Send me a check-in notification if I am absent for more than...
      div.form-row
        div.col-md-2
          input.form-control(name='checkinFrequencyTime', id='checkinFrequencyTime', required, value="6", type="number", min="1")
        div.col-md-2
          select.form-control(name='checkinFrequencyTimeUnit', id='checkinFrequencyTimeUnit', required)
            option Days
            option(selected) Months
            option Years

    div.form-group
      label(for='checkinWaitingTime') Deliver this message if I don't respond to my check-in notification after...
      div.form-row
        div.col-md-2
          input.form-control(name='checkinWaitingTime', id='checkinWaitingTime', required, value="1", type="number", min="1")
        div.col-md-2
          select.form-control(name='checkinWaitingTimeUnit', id='checkinWaitingTimeUnit', required)
            option Days
            option(selected) Months
            option Years

    hr

    div.row
      div.col-md-3
        button.btn.btn-secondary.btn-block(type='submit') Save

    +showErrors(errors)

  script(src='/javascripts/messagesNew.js')
